*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.container{
    text-align: center;
    background: #f3f3f3;
}
.header{
    padding-top: 60px;
    color: rgb(139, 139, 139);
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}
.sub-container{
    max-width: 100%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teams{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}
.teams:hover{
    background: rgb(126, 126, 126);
    border-radius: 12px;
}
.teams img{
    width: 200px;
    height: 200px;
}
.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.desig{
    font-style: italic;
    color: #888;
}
.about{
    margin: 20px 0;
    font-weight: lighter;
    color: #f5f5f5;
}
.team-images{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.social-links{
    margin: 14px;
}
.social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}
.social-links a:hover{
    transform: scale(1.5);
}
.social-links a i{
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 600px){
    .teams{
        max-width: 100%;
    }
}